*{
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
}
body{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 212, 216);
    height: 16vh;
    margin: 4vh 4vw 2vh 4vw;
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 8px;
}

#main{
    background-color:rgb(48, 129, 145);
    height: 72vh;
    margin: 2vh 4vw 4vh 4vw;
    border-radius: 8px;
}

#addButton{
    font-size: 32px;
    background-color:#1220df;
    border-style: none;
    border-radius: 8px;
    padding: 8px 16px;
    transition: 400ms all;
}
#addButton:hover{
    border: 1px solid #fff;
    scale: 1.02;
}
#addButton:active{
    color: #1220df;
    scale: 0.98;
    background-color: #fff;
}

#addButton>span{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 3px solid #f8fc0d;;
    display: inline-block;
    color: #f8fc0d;
    margin-right: 8px;
}
#addButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
}